/* Landing Page */
.landingpage{
    background-color: #6848BD;
}


/* Pet care section */

.petcaresection {
    background-color: #fff;
}

.verified-card {
    background-color: #3e2285;
    border-radius: 15px;
}

.verified-card h4,
.verified-card p {
    color: #fff;
}


.btn-custom {
    background-color: #00C897;
    color: #000;
    border-radius: 25px;
    padding: 5px 20px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #01977E;
}

.btn-dark {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #333;
}

/* App section */

.app-section{
    background-color: #6848BD;
}

/* Case studies section */

.case-studies-section{
    background-image: url('../images/bg-home-casestudies.png');
    background-size:cover;
}

.case-study-card{
    border: #000 !important;
    border-style: solid !important;
}

.case-study-image {
    border: #000 !important;
    border-style: solid !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    height: 250px;

}

.testimonials-section{
    height: 100vh;
}

/* Make a difference form */
.difference-section{
    background-color: #6848BD;
}


